@mixin fontstyle(){
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}
@mixin fontstyletitle(){
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:4rem;
}


body {
    background: url("images/dragon-scales.svg") center/cover;
}.titreUpdate {
    @include fontstyletitle();
    text-align: center;
    margin-top: 50px;
}
.updateform {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    gap: 10px;
    
    padding-top: 100px;
    &>*{
        width: 70%;
        @include fontstyle();
    }
    flex-direction: column;
    &__description{
        @include fontstyle();
    }
}